<section class="container my-5">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display-4">About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec mauris non risus consectetur consequat.
                Integer id orci quam. Phasellus eget consectetur urna, sit amet dictum quam.</p>
            <p>Proin bibendum sem eu arcu ultricies, sit amet aliquam quam sagittis. Pellentesque id nulla id justo laoreet
                tempor eu eu urna. In posuere, tellus eu tristique feugiat, urna purus vulputate neque, vel dictum ante orci
                et sem.</p>
            <p>Donec ullamcorper, metus id luctus semper, tortor velit tincidunt lorem, eget tristique orci elit id libero.
                Vivamus a libero eu elit fringilla commodo.</p>
        </div>
        <div class="col-lg-6">
            <img src="https://th.bing.com/th/id/R.3208aadaa2a5ee29c9e951d5bb000d2d?rik=88WObK7%2bZ4uWsQ&pid=ImgRaw&r=0" width="500" height="500" class="img-fluid rounded" alt="Company Image">
        </div>
    </div>
</section>