<div class="container">
    <div class="card">
      <h2>Register Form</h2>
      <form>
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter your username">
  
        <label for="FirstName">First Name</label>
        <input type="text" id="FirstName" placeholder="Enter your First Name">
        
        <label for="LastName">Last Name</label>
        <input type="text" id="LastName" placeholder="Enter your Last Name">
        
        <label for="Emial">Emial</label>
        <input type="Emial" id="Emial" placeholder="Enter your Emial">
        
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter your password">
  
        <button type="submit">Register</button>
      </form>
      <div class="switch"> have an account? <a routerLink="/userLogin">Login here</a></div>
    </div>
  
    
  </div>